@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <nav class = "navbar">
        <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
        <a asp-area="" asp-controller="Home" asp-action="Agent">OWNER</a>
        <a asp-area="" asp-controller="Home" asp-action="Account">ACCOUNT</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
    </nav>
    </header> 
    <form action="" class="agentform">
        <input type="text" placeholder="Property name">
        <input type="number" placeholder="number of rooms">
        <input type="number" placeholder="number of bathrooms">
        <input type="number" placeholder="square footage">
        <label for="image">Property Image:</label>
        <input type="file" accept="image/*">
        <input type="submit">

    </form>
</body>
</html> *@
<!-- Views/Product/Create.cshtml -->

@model Webapp.Models.PropertyViewModel

@{
    ViewData["Title"] = "Create Property";

}



<h1>Create Property</h1>

<form asp-action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="PropertyName"></label>
        <input asp-for="PropertyName" class="form-control" type="text" required />
        <span asp-validation-for="PropertyName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfBathrooms"></label>
        <input asp-for="NumberOfBathrooms" class="form-control" type="number" required>
        <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="NumberOfBedrooms"></label>
        <input asp-for="NumberOfBedrooms" class="form-control" type="number" required>
        <span asp-validation-for="NumberOfBedrooms" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="SquareFootage"></label>
        <input asp-for="SquareFootage" class="form-control" type="number" required>
        <span asp-validation-for="SquareFootage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageData"></label>
        <input asp-for="ImageData" class="form-control" type="file" accept="image/*" />
        <span asp-validation-for="ImageData" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Property</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
