@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="container mt-5">
    <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website.</p>

    <h2>Information We Collect</h2>
    <p>We may collect personal information that you provide to us, including but not limited to your name, email address, and phone number.</p>

    <h2>How We Use Your Information</h2>
    <p>We use the information we collect to provide and improve our services, communicate with you, and enhance your experience on our website.</p>

    <h2>Information Sharing</h2>
    <p>We do not sell, trade, or otherwise transfer your personal information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</p>

    <h2>Security</h2>
    <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p>

    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:cebendemalek@gmail.com">cebendemalek@gmail.com</a>.</p>
</div>
